*.json
UART/startup_TM4C123.s
UART/*.htm
UART/*.uvproj
UART/*.d
UART/startup_tm4c123.lst
UART/*.o
UART/uart_test_Target 1.dep
UART/uart_test.axf
UART/uart_test.crf
UART/uart_test.lnp
UART/uart_test.map
UART/uart.crf
UART/uart_test.uvgui.saida
UART/uart_test.uvopt
UART/uart_test_uvproj.bak
UART/uart_test_uvopt.bak
UART/uart_test.uvgui_saida.bak

main.elf
build/main.o
build/startup_ARMCM4.o
main.elf
build/
.idea/
.vscode

